/*Register*/

.lblRadio {
    box-sizing: initial !important;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

.btnLogin {
    background: linear-gradient(to bottom, #0091ff 5%, #0065bd 100%);
    background-color: #0091ff;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25%;
    text-decoration: none;
}

.btn-info {
    background-color: #154492;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.example-full-width {
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
}

::ng-deep {
    .mat-form-field .mat-form-field-flex {
        background-color: white;
    }
}