<div class="row mt-3 mb-3">
    <h1 class=" col-12 text-center my-auto banner">{{title}}</h1>
</div>
<form id="formComponentiAtleta">
    <div class="container">
        <div class="mr-3 ml-3 mt-3 mb-5">
            <div class="row mt-4">
                <div class="col-md-8 offset-md-2 col-sm-12 mb-3 contentInfo">
                    <div *ngFor="let item of elements| keyvalue :originalOrder" class="row mt-3">
                        <label class="col-md-4 offset-md-2 my-auto">{{item.key}}:</label>
                        <p class='col-md-4 my-auto'>{{item.value}}</p>
                    </div>
                    <div class="row justify-content-center my-4">
                        <input type="button" class="btn btn-primary" id="modifica" (click)="ModificaAnagrafica_Click()" value="Modifica anagrafica" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>