table {
    width: 100%;
}

.myContentOutputTornei {
    max-width: 95vw !important;
}

.mat-sort-header-arrow {
    color: black !important;
}

.matInput {
    padding-bottom: 0 !important;
}

.mat-header-cell {
    background-color: #4a86e8;
    font-weight: bold;
    font-size: 70%;
    color: black;
}

* {
    font-family: Arial, sans-serif;
}

.notAutorize {
    background-color: red;
}