input[type="radio"] {
    margin-right: 10px;
}

.btnLogin {
    background: linear-gradient(to bottom, #0091ff 5%, #0065bd 100%);
    background-color: #0091ff;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25%;
    text-decoration: none;
}